{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home page</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<link rel="stylesheet" href="{% static 'assets3/css/owl.carousel.css' %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'assets3/css/owl.theme.css' %}" type="text/css" media="all">
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'assets3/css/bootstrap.css' %}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'assets3/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{% static 'assets3/css/fontawesome-all.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets3/datatable/jquery.dataTables.min.css' %}">
	<script src="{% static 'assets3/datatable/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets3/datatable/jquery.dataTables.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets3/datatable/bootstable.min.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		
	</script>	
	<!-- //css files -->
	<style type="text/css">
		.searchbutt
	{
	text-transform: none;
    display: inline-block;
    position: relative;
    background: white;
    border: 1px solid #777;
    width: 10%;
    float: right;
    right: 7px;
    outline: none;
    padding: 13px 15px 13px 15px;
    font-size: 15px;
    color: #777;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
    font-family: 'Raleway', sans-serif;
}
.search{
	    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 50px;
}

	table, th, td {
		position: relative;
    border: 3px solid black;
   top: 20px;
	background-color:white;
	
	margin: auto;



}
td{
	padding: 3px 3px 3px 3px;
}
h2
{
	text-align: center;
}
button {
    text-transform: none;
    display: inline-block;
    background: none;
    border: none;
    border: 1px solid #777;
    width: 100%;
    float: left;
    outline: none;
    padding: 13px 15px 13px 23px;
    font-size: 15px;
    color:white;
    letter-spacing: 1px;
    margin-bottom: 0em;
    font-family: 'Raleway', sans-serif;
        background-color: #371d57
}
input[type="text"]
{
	border:none;
}
				
	</style>

	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets3/datatable/jquery.dataTables.min.css' %}">
	<script src="{% static 'assets3/datatable/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets3/datatable/jquery.dataTables.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets3/datatable/bootstable.min.js' %}" type="text/javascript"></script>
	
</head>

<body>


<!--/banner-->
	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-6 log-icons mt-2">
				<p class="py-2">    </p>
			</div>
			
			<div class="col-md-4 col-sm-6 logo">
				<a class="navbar-brand" href="#">
					<i class="fas fa-car"></i>WMS</a>
			</div>
			
		
		</div>
	</div>

	<div class="banner" id="home">
		<!-- header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="{% url 'Customer_home' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'Customer_add_request' %}">Cleaning Request</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'Customer_view_requests' %}">My requests
							<span class="sr-only">(current)</span>
						</a>
					</li>
				
					
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'Customer_list_user_page' %}">Chat</a>
					</li>
				
					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Home_page' %}">Logout</a>
					</li>
	
				
				</ul>

				</div>
			</nav>
		</header>

		<!-- //header -->
		<!-- banner-text -->
		<div id="wrapper">

			<!-- Slideshow 1 -->
			<div class="rslides_container">
				<ul class="rslides" id="slider1">
					<li>
						<div class="banner-img">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-globe"></span>
									<h1>Welcome Customer</h1>
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-img one">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-globe"></span>
									<h4>HomePage</h4>
									
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-img two">
							<div class="bs-slider-overlay">
								<div class="banner-info text-center">
									<span class="fas fa-globe"></span>
									<h4>Welcome Customer</h4>
								
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>


		
	</div>

<footer >
	<!-- <div class="container-fluid pt-lg-5">
		 -->
		<!-- copyright -->
		<div class="footer-cpy text-center pt-sm-5 mt-sm-5 mt-4 pt-3">
			<div class="w3layouts-agile-copyrightbottom">
				<p>© 2022 WMS. All Rights Reserved | 
					<a href="http://w3layouts.com/"></a>
				</p>

			</div>
		</div>
		<!-- //copyright -->
	<!-- </div> -->
</footer>

<!-- //login and register modal -->

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="{% static 'assets3/js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets3/js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- carousel -->
	<script src="{% static 'assets3/js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 2,
						nav: false
					},
					1000: {
						items: 3,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!--slider-->
	<script src="{% static 'assets3/js/responsiveslides.min.js' %}"></script>
	<script>
		$(function () {
			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "centered-btns"
			});
		});
	</script>
	<!--//slider-->

	<!-- start-smoth-scrolling -->
	<script src="{% static 'assets3/js/SmoothScroll.min.js' %}" ></script>
	<script type="text/javascript" src="{% static 'assets3/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets3/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>