 {% load static %}
 <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="" class="logo">
                      <!-- <h3>Blockchain SCM<em></em></h3> -->
                        <h1>Doc<span style="color: red;">Bloc</span><em></em></h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                   
                    
                    
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>